POSTGRES_DB=Shinkou
POSTGRES_USER=Shinkou
POSTGRES_PASSWORD=please_change_me
POSTGRES_PORT=5432

REDIS_PORT=6379
REDIS_DB=0
WEB_PORT=3000
APP_JWT_SECRET=please_change_me_to_at_least_32_chars

TZ=Asia/Shanghai
